//small screen sizes
@media (max-width: 991px) {
    .mobile-only {
        display:none !important;
    }
 
    .desktop-only {
        display:block !important;
    }
}

.col-menu {
	padding-right: 0px !important;
	padding-left: 0px !important; 
}
  .col-lg-1 {
    min-width: 10% !important;
    max-width:10% !important;
  }

  .col-md-1 {
    min-width: 10% !important;
    max-width: 20% !important;
  }

.btn{
    white-space:normal !important;
    word-wrap:break-word; 
}

.btn-primary {
	color: #FF0003 !important;
	background-color: #FFFFFF !important;
	border-color: #FF0003 !important;
}

.btn-primary:hover {
	color: #FFFFFF !important;
	background-color: #FF0003 !important;
	border-color: #FF0003 !important;
}
.logotype
{
        position:relative;
        margin:0 auto;
        max-width:150px;
        max-height:100px;
        padding-bottom:10px;
        padding-top:10px;
	margin-bottom:10px;
}

.navbar-default {
    background-color: #ebebeb !important;
}

.table {
	margin-bottom: 5px !important;
}

.headerlogo {
	width: 40px;
	height: 40px;
	vertical-align: middle;
	padding-right: 10px;
}

.navbar-logo {
	width: 40px;
	height: 40px;
	border-radius: 10px !important;
        border: 3px solid #FF0300 !important;
}

.menulogo {
	width:25px;
	height: 25px;
	veritcal-align: middle;
	padding: 2px;
}

.navbar-default {
	background-color: #F8F8F8 !important;
	border-color: #E7E7E7 !imporant;
}

.navbar-brand {
	padding: 8px !important;
}

.glyphicon-th {
	color: #FF0300 !important;
	font-size: 24px !important;
	top: 0px! important;
	vertical-align: middle;
}

.navbar-header {
	margin-left: 5px !important;
	margin-right: 5px !important;
}

body {
	padding-top: 0px !important;
}

.form-group {
	width: 100% !important;
}

.input-group {
	padding-right: 15px !important;
}

.container {
	margin-right: 0px !important;
	margin-left: 0px !important;
}

.container-fluid {
	max-width: 1024px;
}

.form-register {
	margin-left: 0px !important;
	margin-right: 0px !important;
}
.btn-icon {
	position           : relative;
	display            : inline-block;
	width              : 100px;
	height             : 100px;
	border-radius      : 50px;
	-webkit-box-sizing : border-box;
	-moz-box-sizing    : border-box;
	box-sizing         : border-box; 
	background-color: #656565 !important;
}

.btn-icon-label {
	text-decoration: none;
	position: relative;
	width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-bottom: 20px;
	text-align: center;
	font-size: small;
}

.btn-icon-label:hover {
	text-decoration: none;
}


.btn-icon-label-desc {
        text-decoration: none;
        position: relative;
        width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
        text-align: center;
        font-size: x-small;	
}

.btn-icon-label-desc:hover {
	text-overflow: inherit;
	overflow: visible;
	text-decoration: none;
}

.icon-img {
	vertical-align: middle;
	position: relative;
}

.thumbnail {
	border: none !important;
}

.img-thumbnail {
	border: 0px !important;
	background-color: #EEEEEE !important;
}
.navbar-toggle {
	margin-right: 0px !important;
	height: 40px !important;
	width: 40px !important;
	border-color: #FF0300 !important;
	border-radius: 10px !important;
	border: 3px solid #FF0300 !important;
	padding: 0px! important;
	vertical-align: middle;
}

.navbar-toggle-icon {
	color: #ffffff;
}

.icon-bar {
	background-color: #FF0300 !important;
	width: 100% !important;
}

#TB_overlay {
	background-color: #000000;
	opacity: 0.8;
}

#TB_window {
	width: 90% !important;
}

.hovereffect {
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #FFFFFF;
  padding: 5px;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(50% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect h2 {
  text-decoration: none;
  color: #333;
  text-align: center;
  position: relative;
  font-size: 17px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
}

.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.hovereffect:hover h2:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect a, .hovereffect p {
  color: #A5A5A5;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

input[type="checkbox"], input[type="radio"] {
	margin-right: 5px !important;
}

select, input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}	
