#menubar
{
	position:relative;
	margin:0px;
	padding-top:5px;
	padding-bottom:10px;
	background-color:#373536;
	width:100%;
	color:#FFFFFF;
	text-align:left;
	text-align:center;
}

#menubar_container
{
	position:relative;
	margin:0 auto;
	width:90%;
	max-width:1024px;
	text-align:left;
	padding-bottom:10px;
}

.menu_item
{
	float:left;
	width:100%;
	text-align:center;	
}


#menubar a:link, #menubar a:visited, #menubar a
{
	color:#FFFFFF;
	text-decoration:none;
}

#menubar a:hover
{
	color:#CCCCCC;
	text-decoration:none;	
}

.menu_item
{
	font-size:8pt;
}

#menubar_company_info
{
	position:absolute;
	left:0px;
	top:18px;
	width:100%;
}

#menubar_navigation
{
	position:relative;
	width:100%;
	top:8px;
}

#menubar_footer
{
	position:relative;
	width:100%;
	left:0px;
	padding-top:3px;
	font-size:8pt;
	font-weight:bold;
}

#menubar_date
{
	position:relative;
	right:0px;
	padding-top:3px;
	font-size:8pt;
	font-weight:bold;
}


